body {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 0;
    display: grid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
}
.name {
    flex-basis: 100%;
    border: red dotted;
    font-size: 25px;
    /* font-weight: bold; */
}
.nav {
    padding: 0;
    margin: 0;
    border: red dotted;
    grid-row: 1;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    /* font-weight: bold; */
    align-items: center;
}
.nav li {
    /* border: black dotted; */
    padding: 0;
    margin: 0;
    /* border: red dotted; */
}
a:link, a:visited {
    text-decoration: none;
    padding: .875em 1.56em;
    font-weight: 5em;
    color: rgb(49, 49, 49);
    
}
a:hover, a:active {
    color:  black;
    font-weight: bold;
}
.intro {
    /* border: red dotted; */
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    letter-spacing: 1px; 
}
.img-responsive {
    width: 75%;
    max-width: 25%;
    max-height: auto;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em auto;
    display: inline-flex;
    justify-content: stretch;
    align-items: stretch;
}
.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    
    
}
/* .card img {
    height: ;
} */
/* ul.nav li {
    display: inline;
    list-style-type: none;
    margin: 0;
}
ul.nav {
    background-color: #111;
    justify-content: center;
    padding: 0;
} */
/* ul.nav li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
} */